/* list1的右侧 */
.ul-txt1{
    margin: 20px 0 30px;
    border-top: 1px solid #dbdbdb;
}
.ul-txt1 li >a{
    display: block;
    line-height: 60px;
    border-bottom: 1px dashed #cccccc;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-left: 20px;
    padding-right: 10px;
    background: url(../images/txtl1.png) no-repeat center left;
}

.ul-txt1 li >a span{
    float: right;
    color: #999999;
}
