@media only screen and (max-width:1370px) {

    /* 轮播图按钮隐藏 */
    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .banner .slick-prev,
    .banner .slick-next {
        display: block !important;
    }

    .wp {
        width: 98%;
    }
}

@media only screen and (max-width:1199px) {


    .header {
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        line-height: 50px;
        width: 100%;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: transparent;
        z-index: 999;
    }


    .so {
        display: none;
    }

    .nav {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        /* height: 130px; */
        background-color: rgba(0, 0, 0, .6);
    }

    .nav li {
        /* float: none; */
        float: left;
        width: 25%;
        text-align: left;
        margin-left: 0;
        padding-left: 18px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .nav li.on .v1::after {
        display: none;
    }

    .nav .v1 {
        font-size: 14px;
        color: #fff;
        line-height: 3.13em;
        text-align: left;
        padding-right: 0;
        background: none;
    }

    .nav .v1:hover {
        color: #005cab;
    }

    /* 控制二级菜单 */
    .nav dl {
        display: none;
    }

    /* .nav dl {
        width: 80%;
        top: 8px;
        right: 0;
        left: auto;
    }
    
    .nav .dl1 {
        left: auto;
        right: 0;
    }
    
    .nav dd {
        float: none;
        width: auto;
    }
    
    .nav dd a {
        font-size: 14px;
        background-color: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
    }
    
    .ok span::after{
        display: none;
    } */
    .menubtn {
        display: block;
        cursor: pointer;
    }

    .logo {
        width: 75px;
        height: 30px;
    }

    .so1,
    .header .show {
        display: block;
    }



    /* 案例 */
    /* .ul-pic1 li {
        width: 20%;
    } */

    .row-5 .g-tit {
        color: #f4c951;
        padding: 0 8px;
        font-size: 16px;
    }

    /* 位置信息 */

    /*  .m-map {
        display: none;
    } */
    .m-map,
    .row-4 .col-r {
        float: none;
        width: auto;
        height: 400px;
    }
}

@media only screen and (max-width:959px) {
    .banner {
        /* height: 230px; */
    }

    .banner .item a {
        padding-top: 40%;
    }

    .banner .slick-dots,
    .banner .slick-prev,
    .banner .slick-next {
        bottom: 5px;
    }

    .ul-pic .slick-dots {
        bottom: -31px;
    }

    .m-pic2 .slick-dots {
        bottom: -29px;
    }

    .ul-pic .txt {
        padding: 5px;
    }

    .ul-pic .txt span {
        font-size: 12px;
    }

    /* 公用标题间距修改 */
    .g-tit h5 {
        width: 30%;
        font-size: 14px;
        margin: 10px auto;
        /* line-height: 3.15em; */
    }

    .ul-pic {
        margin-top: 10px;
    }

    .ul-pic li>a {
        margin: 0 10px;
    }

    .row-1,
    .row-2,
    .row-3 {
        padding: 0 0 50px;
    }

    .ul-pic .txt h4,
    .ul-pic .text .tit {
        font-size: 14px;
        padding-top: 10px;
    }

    .ul-pic .text .tit {
        padding: 10px 5px;
    }

    .ul-pic .text p {
        padding: 0 5px;
    }

    .ul-pic .go {
        font-size: 12px;
        margin: 15px auto;
        padding: 0 18px;
    }

    /* 位置 */

    .m-map {
        display: none;
    }

    .row-4 .col-r {
        height: 150px;
    }

    .m-local h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .m-local p {
        font-size: 12px;
    }

    .m-local .path {
        padding-left: 30px;
    }

    /* 案例 */


    .ul-pic1 {
        margin: 15px -8px 0 0;
    }

    .ul-pic1 li {
        width: 25%;
    }

    .m-pic2 {
        padding: 0 10px;
    }

    .row-3 .go {
        display: none;
    }

    /* 二维码 */
    .m-pic li a {
        margin: 10px;
    }

    .m-now {
        display: none;
    }

    .fd-nav {
        text-align: center;
        position: relative;
    }



    .fd-nav dd {
        display: none;
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #f5f5f5;
        border-radius: 10px;
        /* background-color: rgba(0, 0, 0, .7); */
    }

    .fd-nav dd a:hover {
        color: #000;
    }

    /* 侧边 */
    .m-slidebarR {
        bottom: 0;
        width: 100%;
        /* position: relative; */
    }

    .m-slidebarR li {
        float: left;
        width: 33.33%;
        margin-bottom: 0;
    }

    .m-slidebarR li .icon {
        width: 100%;
        height: 50px;
        border-radius: 0;
        text-align: center;
    }

    .m-slidebarR .backTop {
        position: absolute;
        top: -60px;
        right: 15px;
        width: 30px;
    }

    .m-slidebarR .backTop .icon {
        height: 30px;
        border-radius: 8px;
    }


    .m-slidebarR .backTop .txt1 {
        display: none;
    }

    .m-slidebarR .snvLink {
        width: 100%;
    }

    .m-slidebarR li .icon .img2,
    .m-slidebarR li .icon .txt1 {
        width: 100%;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }

    .m-slidebarR li .icon .img2 img {
        height: 85%;
    }

    /* font-size:0 去除p转换成行内元素时换行符、空白文本的间隙 */
    .m-slidebarR li .txt1 {
        padding-top: 0;
        font-size: 0;
        letter-spacing: 0;
    }

    .m-slidebarR .backTop .icon .img2 {
        height: 30px;
        /* line-height: 60px; */
    }

    .m-slidebarR .backTop .img2 img {
        /* height: 100%; */
    }

    .m-slidebarR .backTop .txt1 {
        display: none;
    }

    .m-slidebarR li .txt1 p {
        display: inline-block;
        font-size: 12px;
    }

    .m-slidebarR li:hover .snvLink {
        top: 0;
    }

    .m-slidebarR li:hover .txt2 {
        opacity: 0;
    }

}

@media only screen and (max-width:767px) {

    /* .nav li {
        width: 25%;
    } */
    .g-tit h5 {
        width: 45%;
    }

    .ul-pic1 {
        margin-right: -4px;
    }

    .ul-pic1 li a {
        margin-right: 4px;
        margin-bottom: 4px;
    }

    /* 案例 */
    .ul-pic1 li {
        width: 33.33%;
    }

    .ul-txt {
        display: none;
    }

    .row-5 .g-tit {
        margin-top: 8px;
    }

    .fd-nav {
        margin-top: 0;
    }

    .fd-nav .tit a {
        font-size: 16px;
        margin-bottom: 8px
    }

    .fd-nav dd a {
        font-size: 12px;
    }

    .copy p {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

}

@media only screen and (max-width:479px) {
    .header {
        height: 35px;
        line-height: 35px;
    }

    .nav {
        top: 35px;
    }

    .nav li {
        float: none;
        width: auto;
        margin-left: 0;
    }

    .nav .v1 {
        font-size: 12px;
        line-height: 2.5em;
        text-align: center;
    }

    /* .nav dl {
        top: 3px;
    } */
    .menubtn {
        height: 35px;
        padding-top: 4px;
    }

    .act .icon-bar:nth-child(2),
    .act .icon-bar:nth-child(3)  {
        top: 10px;
    }

    .so1 .btn1 {
        height: 35px;
    }

    .so1 .inp1 {
        top: 35px;
    }

    /* .row-1,
    .row-2,
    .row-3 {
        padding: 0 5px 5px;
    } */

    .ul-pic li>a {
        margin: 0 5px;
    }

    .m-pic2 {
        padding: 0 5px;
    }

    .row-5 .g-tit {
        display: none;
    }

}