body{
    color: #3d4c63;
    font-size: 12px;
    /* line-height: 1.5; */
    background: #fff;
    font-family: "微软雅黑","Microsoft Yahei";
    max-width: 750px;
    margin: 0 auto;
}
body *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input{
    border: none;
    outline: none;
}
body.help{
    background-color: #f3f3f9;
}
.wp{
    padding: 0 10px;
}

.header{
    height: 64px;
    background: #3275fd;
}
/* .m-help{
    position: fixed;
    width: 100%;
    height: 100%;
     background-color: #f3f3f9; 
} */
.m-help textarea{
    border: none;
    background-color: #fff;
    outline: none;
    width: 100%;
    height: 150px;
    margin: 10px 0;
    resize: none;
    padding: 20px 0 0 10px;
}
.m-help textarea::-webkit-input-placeholder{color:#888;}
.m-help textarea::-moz-placeholder{color:#888;}
.m-help textarea:-ms-input-placeholder{color:#888;}
.m-help .tel{
    color: #353535;
    padding: 0 10px;
    background-color: #fff;
    line-height: 50px;
}
.m-help .tel p:first-of-type{
    border-bottom: 1px solid #e5e5e5;
}
.m-help .tel span{
    color: #3275fd;
}
.m-help .backTo{
    position: absolute;
    bottom: 56px;
    width: 100%;
}
.m-help .backTo a{
    display: block;
    line-height: 45px;
    text-align: center;
    background-color: #3275fd;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
    border-radius: 3px;
}
