/* 蔡飞跃 **************************************************/


.container{
    font-family: "微软雅黑";
    /* margin: 40px 0 90px; */
}
.wp{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%
}
/* 设备tab标签 */
.m-nav-c{
    /* height: 50px; */
    overflow: hidden;
    background-color: #1e1e1e;
}
.m-nav-c li{
    float: left;
}
.m-nav-c .link{
    display: block;
    padding: 0 26px;
    font-size: 16px;
    font-weight: bold;
    line-height: 3.13em;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}
.m-nav-c .pl55{
    padding-left: 55px;
    padding-right: 35px;
}
.m-nav-c li:hover .link,
.m-nav-c li.on .link{
    background: linear-gradient(90deg,#b91820 0%,#f75804 80%);
}
/* 设备分类 */
.m-tab-c{
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc; 
}
.m-tab-c li{
    float: left;
    font-size: 14px;
    line-height: 6em;
    
    font-weight: bold;
}
.m-tab-c li a{
    line-height: 2.14em;
    color: #646464;
    padding: 5px 15px;
    margin-right: 15px; 
    text-align: center;
    /* background-color: red; */
}
.m-tab-c li:hover a,
.m-tab-c li.act a{
    background-color: #ff5f01;
    color: #fff;
}
/* tab页 */
.m-tabitem{
    overflow: hidden;
    margin: 35px -20px 20px 0;
}
.m-tabitem li{
    float: left;
    width: 33.33%;
}
.m-tabitem li a{
    display: block;
    margin:0 20px 65px 0; 
}
.m-tabitem .pic{
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    background-color: #f0f0f0;
    /* background: #f0f0f0 url('../images/product/product-1.png'); */
}
.m-tabitem .pic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.m-tabitem .txt{
    height: 5em;
    font-size: 14px;
    color: #646464;
    padding-top: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}
.m-tabitem .txt p{    
    line-height: 1.43em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m-tabitem li.on1 .txt,
.m-tabitem li :hover .txt{
    background-color: #ff5f01;
    color: #fff;
}
/* 分页 */
.m-paging{
/*     width: 270px;*/
    margin: 18px auto 40px;
    overflow: hidden;
    text-align: center;
}
.m-paging ul{
    display: inline-block;
}
.m-paging li{
    float: left;
}
.m-paging .item{
    display: block;
    color: #646464;
    font-size: 20px;
    font-weight: bold;
    margin-right: 16px; 
    padding-bottom: 5px;
}
.m-paging li:hover .item,
.m-paging li.active .item{
    color: #ff5f01;
    border-bottom: 2px solid #ff5f01;
}
.m-paging li.nextpag .item{
    /* float: right; */
    margin-left: 30px;
    border-bottom: none;
} 
/* 标题 */
.g-tit1-c h4{
    font-size: 20px;
    color: #323232;
    font-weight: bold;
    padding: 17px 0 35px 0;
    border-top: 2px solid #ff5f01; 
}

.index-c2{
    overflow: hidden;
}
.index-c2 .col-l,
.index-c2 .col-r{
    width: 50%;
    padding-right: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    overflow: hidden;
}
.index-c2 .col-l{
    margin-bottom: 100px;
}
.index-c2 .m-slide{
    overflow: hidden;
    margin-right: -20px; 
}
.index-c2 .m-slide .item{
    float: left;
    width: 50%;
}
.index-c2 .m-slide .item a{
    display: block;
    margin-right: 20px;
}
.item .pic img{
    width: 100%;
    height: 100%;
}
.m-slide .g-tit2-c{
    width: 100%;
}
.g-tit2-c .info{
    height: 5em;
    overflow: hidden;
    margin-top: 15px;
}
.g-tit2-c p{
    font-size: 12px;
    color: #646464;
    line-height: 1.67em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index-c2 .col-r{
    padding-left: 22px;
    padding-right: 0; 
    margin-right: -20px; 
    margin-top: -25px;
}

.g-tit2-c{
    float: left;
    width: 50%;   
}

.g-tit2-c a{
    display: block;
    margin-right: 20px; 
    padding: 25px 0 15px 0;
    border-bottom: 1px solid #dcdcdc;
}
.g-tit2-c .time{
    display: block;
    font-size: 12px;
    color: #646464;
    margin-bottom: 6px;
}
.g-tit2-c h5{
    font-size: 16px;
    color: #323232;
    line-height: 1.38em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.g-tit2-c a:hover h5{
    color: #ff5f01;
}

/* **** 文章页    ***** */
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    zoom: 1;
}
.m-col1{
    float: left;
    width: 849px;
    border-right: 1px solid #dcdcdc;
}
.content{
    margin-right:49px; 
}
.content .g-tit1-c h4{
    padding-bottom: 10px;
}
.m-view .time{
    display: block;
    font-size: 16px;
    color: #c8c8c8;
    
}
.m-view em{
    display: inline-block;
    font-size: 12px;
    padding-left: 25px;
    background: url('../images/product/view.png') left center no-repeat;
}

.content .info p{
    font-size: 12px;
    color: #646464;
    text-indent: 2em;
    text-align: left;
}
.content .info > p{
    text-indent: 0;
    margin-top: 30px;
    text-align: left;
}
.article p:first-child{
    text-indent: 0;
    margin-bottom: 28px;
    padding-top: 15px;
}
.content .mt{
    margin-top: 60px;
    /* margin-bottom: 30px; */
}
.m-link2{
    overflow: hidden;
    margin: 90px 0 110px;
    /* height: 4.5em; */
}
.m-link2 .item{
    float: left;
    width: 50%;
    position: relative;
}
.m-link2 .item a{
    display: block;
    font-size: 16px;
    line-height: 4.5em;
    color: #323232;
    padding-left: 80px;
    background-color: #f2f2f2;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.m-link2 .item .item-r{
    padding-left: 45px;
}
.m-link2 .item .m1{
    position: absolute;
    top: 50%;
    left: 25px;
    margin-top: -7px;
    display: block;
    width: 23px;
    height: 14px;
    background: url('../images/product/m1-l.png') 0 0 no-repeat;
}
.m-link2 .item .m1-r{
    right: 25px;
    left: auto;
    background: url('../images/product/m1-r.png') 0 0 no-repeat;
}
.m-link2 .item:hover a{
    background-color: #ff5f01;
    color: #fff;
}
.m-link2 .item:hover em{
    background-position: 0 -14px; 
}
/* 右侧 */
.m-col2{
    float: left;
    width: 350px;
}
.m-col2 .box{
    margin-left: 50px;
}
.box .g-tit1-c h4{
    padding-bottom: 60px;
}
.box .g-tit2-c{
    width: 100%;
}
.m-txt-c .g-tit2-c{
    width: 25%;
}
.m-col2 .g-tit2-c a {
    margin-right:0; 
    padding: 40px 0;
}
/* 关键词 */

.m-keyword{
    overflow: hidden;
    width: 100%;
    padding-top: 75px;
}
.m-keyword .g-tit1-c h4{
    padding-bottom: 30px;
}
.m-keyword li{
    float: left;
}
.m-keyword li a{
    display: block;
    padding: 3px 18px;
    margin-right: 10px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #646464;
    text-align: center;
}
.m-keyword .s1{
    background-color: #00ffff;
}
.m-keyword .s2{
    background-color:#ffc8cb;
}
.m-keyword .s3{
    background-color:#79d0f7;
}
.m-keyword .s4{
    background-color:#ffcf8e;
}
.m-index2 .m-txt-c{
    margin: -20px -20px 0 0;
}
.m-index2 .m-tabitem li{
    width: 25%;
}
/* 张燕燕 **************************************************/
*{
	padding: 0px;
	margin: 0px;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	cursor: pointer;
}
 .casebox-2{
        display: none;
    }

/* 解决方案 */
.fa-info-mian{
	max-width: 1200px;
	/* overflow: hidden; */
	margin: 40px auto 0;
	
}
.fa-tit{
	overflow: hidden;
}
.fa-tit li{
	width: 14.28%;
	float: left;
	text-align: center;
}
.fa-tit a{
	height: 92px;
	display: block;
	color: #646464;
	font-weight: bold;
	border: transparent 2px solid;
	margin: 0 10px;
}
.fa-tit a p{
	line-height: 2.89em;
	font-size: 18px;
	padding-top: 34px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.fa-tit a:hover,.fa-tit a.on{
	border: #ff5f01 2px solid;
	/* box-sizing: border-box; */
}

.fa-tit .a1{
	background: url('../images/fa-icon-1.png') center 12px no-repeat;
}
.fa-tit .a1:hover,.fa-tit a.on{
	background: url('../images/fa-icon-8.png') center 12px no-repeat;
}
.fa-tit .a2{
	background: url('../images/fa-icon-2.png') center 12px no-repeat;
}
.fa-tit .a2:hover{
	background: url('../images/fa-icon-9.png') center 12px no-repeat;
}
.fa-tit .a3{
	background: url('../images/fa-icon-3.png') center 12px no-repeat;
}
.fa-tit .a3:hover{
	background: url('../images/fa-icon-10.png') center 12px no-repeat;
}
.fa-tit .a4{
	background: url('../images/fa-icon-4.png') center 12px no-repeat;
}
.fa-tit .a4:hover{
	background: url('../images/fa-icon-11.png') center 12px no-repeat;
}
.fa-tit .a5{
	background: url('../images/fa-icon-5.png') center 12px no-repeat;
}
.fa-tit .a5:hover{
	background: url('../images/fa-icon-12.png') center 12px no-repeat;
}
.fa-tit .a6{
	background: url('../images/fa-icon-6.png') center 12px no-repeat;
}
.fa-tit .a6:hover{
	background: url('../images/fa-icon-13.png') center 12px no-repeat;
}
.fa-tit .a7{
	background: url('../images/fa-icon-7.png') center 12px no-repeat;
}
.fa-tit .a7:hover{
	background: url('../images/fa-icon-14.png') center 12px no-repeat;
}
.fa-ul-imgtxt{
	padding-top: 50px;
	overflow: hidden;
}
.fa-ul-imgtxt ul{
	margin-right: -40px;
}
.fa-ul-imgtxt li .box{
	padding-bottom: 20px;
	border-bottom: #dcdcdc 1px solid;
	margin-bottom: 90px;
}
.fa-ul-imgtxt li{
	width: 50%;
	float: left;
	cursor: pointer;
}
.fa-ul-imgtxt li:hover .txt h4{
	color: #ff5f01;
}

.fa-ul-imgtxt li:hover .more{
	background: url('../images/fa-more.png') left center no-repeat;
	color: #fff;
}
.fa-ul-imgtxt li .img{
	padding-top:72%; 
	height: 0;
	display: block;
	position: relative;
}
.fa-ul-imgtxt li .img img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
}
.fa-ul-imgtxt .box{
	margin-right: 40px;
}
.fa-ul-imgtxt .txt{
	padding-top: 20px;
}
.fa-ul-imgtxt .txt h4{
	color: #323232;
	font-size: 20px;
	line-height: 2.1em;
}
.fa-ul-imgtxt .txt p{
	color: #646464;
	font-size: 14px;
	line-height: 1.71em;
}
.fa-ul-imgtxt a.more{
	width: 118px;
	height: 28px;
	line-height: 28px;
	border: #dcdcdc 1px solid;
	margin-top: 26px;
	display: block;
	font-size: 14px;
	color: #646464;
	text-indent: 50px;
	background: url('../images/fa-line.png') 10px center no-repeat;
}

.fa-page{
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}
.fa-page ul{
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	padding-right: 78px;
	background: url('../images/fa-arrow.png') right center no-repeat;
}
.fa-page li{
	margin-right: 20px;
	float: left;
}
.fa-page li a{
	height: 34px;
	line-height: 1.7em;
	font-size: 20px;
	color: #646464;
	position: relative;
}
.fa-page li a:hover,.fa-page li.on a{
	color: #ff5f01;
}
.fa-page li a:hover:after,.fa-page li.on a:after{
	content: '';
	width: 10px;
	position: absolute;
	left: 0px;
	bottom:-6px;
	display: block;
	border: 2px solid #ff5f01;
}

/* 解决方案 文章页 */
.fa-int{
	overflow: hidden;
}
.fa-int h3{
	line-height: 2.07em;
	font-size: 30px;
	color: #323232;
	border-bottom: #dcdcdc 1px solid;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.fa-date{
	line-height: 2.29em;
	font-size: 14px;
	color: #646464;
}
.fa-pic{
	margin-top: 25px;
	padding-top: 55%;
	height: 0px;
	position: relative;
}
.fa-pic img{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.fa-tit-2 h4{
	line-height: 1.83em;
	font-size: 24px;
	color: #323232;
	font-weight: bold;
}
.fa-tit-2 p{
	line-height: 2em;
	font-size: 14px;
	color: #646464;
}
.mt{
	margin-top: 20px;
}
.fa-ul-img{
	overflow: hidden;
	margin-top: 35px;
	margin-right: -18px;
}
.fa-ul-img ul{margin: 0 -10px;}
.fa-ul-img ul li{
	width: 26%;
	float: left;
	/* padding: 0 10px; */
}

.fa-ul-img ul li .img{
	height: 0;
	padding-top: 66%;
	display: block;
	position: relative;
	margin: 0 10px;
}
.fa-ul-img ul li .img img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.fa-ul-img ul li a{
	/* margin-right: 18px; */
	display: block;
}
.fa-ul-img ul li .txt{
	line-height: 4.86em;
	color: #646464;
	font-size: 14px;
	display: block;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
 .fa-g-tit{
	line-height: 1.83em;
    font-size: 24px;
    color: #323232;
    font-weight: bold;
 }
.fa-case{
	overflow: hidden;
	padding-top: 30px;
}
.fa-case ul{
	margin-right: -25px;
}
.fa-case ul li{
	width: 33.33%;
	float: left;
	cursor: pointer;
}
.fa-case ul li .box{
	margin-right: 25px;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 60px;
}
.fa-case ul li:hover .box{
	border-bottom: 1px solid #ff5f01;
}
.fa-case ul li:hover .txt h4{
	color: #ff5f01;
	cursor: pointer;
}
.fa-case ul li .pic{
	padding-top: 63%;
	position: relative;
	height: 0px;
	display: block;
}
.fa-case ul li .pic img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
}
.fa-case ul li .pic .icon{
	width: 110px;
	height: 42px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.fa-case ul li .txt h4{
	margin-top: 20px;
	line-height: 1em;
	font-size: 20px;
	color: #323232;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.fa-case ul li .txt h4:hover{
	color: #ff5f01;
	cursor: pointer;
}
.fa-case ul li .txt span{
	line-height: 2.17em;
	color: #c8c8c8;
	font-size: 12px;
	display: inline-block;
}
.fa-case ul li .txt span.icon{
	padding-left: 24px;
	margin-left: 8px;
	background: url('../images/fa-icon-01.png') left center no-repeat;
}
.fa-case ul li .txt p{
	line-height: 1.71em;
	color: #646464;
	font-size: 14px;
	margin-top: 10px;
}
.fa-case ul li a.more{
	width: 118px;
	height: 28px;
	line-height: 28px;
	border: #dcdcdc 1px solid;
	margin-top: 26px;
	display: block;
	font-size: 14px;
	color: #646464;
	text-indent: 50px;
	margin-bottom: 18px;
	background: url('../images/fa-line.png') 10px center no-repeat;
}

.fa-case ul li:hover a.more{
	background: url('../images/fa-more.png') left center no-repeat;
	color: #fff;
}
.fa-more-case{
	border-top:2px solid #ff5f01;
}
.fa-more-case .fa-tit-2{
	margin-top: 0;
}
.fa-more-case .fa-ul-imgtxt{
	padding-top: 40px;
}

/* 客户案例 */

.case{
	overflow: hidden;
	margin-bottom: 25px;
}
.case ul {
	overflow: hidden;
}
.case ul li{
	float: left;
}
.case ul li:first-child{
	line-height: 1.88em;
	font-size: 16px;
	color: #646464;
	font-weight: bold;
}
.case ul li:first-child a:hover{
	background: none;
	color: #646464;
}
.case .name-r {
	/* float: left;
	width: 90%; */
	overflow: hidden;
}
.case ul li a{
	line-height: 1.88em;
	font-size: 16px;
	color: #646464;
	font-weight: bold;
	display: block;
	padding: 0 15px;
	margin: 0 5px 4px;
}
.case span{
	margin: 0px;
}
.case a:hover,.case a.on{
	background: #ff5f01;
	color: #fff;
}

/*Common For Max 768*/
@media only screen and (max-width: 959px) {
	/* .fa-tit li{
		width: 25%;
	}
	.fa-tit a p{
		font-size: 16px;
	}
	.fa-ul-imgtxt li{
		width: 100%;
	}
	.fa-int h3{
		font-size: 24px;
	}
	.fa-tit-2{
		font-size: 20px;
	}
	.fa-ul-img ul li{
		width: 33.333%;
	}
	.fa-case ul li{
		width: 50%;
	}
	.case a, .case span{
		font-size: 14px;
	} */

}
/*Common For Max 480*/
@media only screen and (max-width: 767px) {
	/* .fa-tit li{
		width: 33.333%;
	}
   .fa-ul-imgtxt .txt h4{
   	font-size: 16px;
   }
   .fa-int h3{
		font-size: 18px;
	}
	.fa-tit-2{
		font-size: 16px;
	}
	.fa-ul-img ul li{
		width: 50%;
	}
	.fa-case ul li{
		width: 100%;
	}
	.case .name-l{
		font-size: 14px;
	}
	.case .name-r a{
		font-size: 14px;
	} */

}
/*Common For Max 320*/
@media only screen and (max-width: 479px) {
	/* .fa-ul-imgtxt .txt h4{
		font-size: 14px;
	}
	.fa-ul-imgtxt .txt p{
		font-size: 12px;
	}
	.fa-tit li{
		width: 50%;
	}
    .fa-int h3{
		font-size: 12px;
	}
	.fa-tit-2{
		font-size: 12px;
	}
	.fa-txt{
		font-size: 12px;
	}
	.fa-ul-img ul li{
		width: 100%;
	} */

}

/* 闫娜 **************************************************/
/*工厂展示和团队风采*/
.ul-tab{
    overflow:hidden;
    padding-left:18px;
    margin-top:54px;
    margin-bottom:39px;
}
.ul-tab li{
    float:left;
}
.ul-tab li a{
    display:block;
    font-size:16px;
    font-weight:bold;
    line-height:36px;
    letter-spacing: 1px;
    padding:0px 18px;
    color:#646464;
}
.ul-tab li.on a,.ul-tab li:hover a{
    background-color:#ff5f01;
    color:#fff;
}
.ul-con{
	position: relative;
    overflow:hidden;
}
.ul-con li{
    margin-bottom:67px;
}
.ul-con .pic{
    overflow:hidden;
}
.ul-con .pic a{
    display:block;
}
.ul-con .pic a img{
    display: block;
    width:100%;
}
.ul-con .txt{
    padding:17px 0px;
    border-bottom:#dcdcdc 1px solid;
}
.ul-con .txt em{
    display:block;
    font-size:14px;
    font-weight:bold;
    line-height:1.71em;
}
.ul-con li:hover .txt em,.ul-con li.on .txt em{
    color:#ff5f01;
}
.ul-con li:hover .txt,.ul-con li.on .txt{
    border-bottom:#ff5f01 1px solid;
}
.pages{
    text-align:center;
    overflow:hidden;
    margin-top:20px;
    margin-bottom:60px;
}
.pages ul{
    display:inline-block;
}
.pages ul li{
    float:left;
    font-size:20px;
    line-height:0.88em;
    margin-right:20px;
    overflow:hidden;
}
.pages ul li.on a,.pages ul li.hover a{
    color:#ff5f01;
}
.pages .m-arrow{
    margin-left:30px;
}
/*荣誉资质*/
.ul-pic{
    overflow:hidden;
}
.ul-pic li{
    float:left;
    overflow:hidden;
    margin-left:28px;
}
.ul-pic li a{
    display:block;
}
.ul-pic li .pic{ 
    overflow:hidden;  
}
.ul-pic li .pic img{
    display:block;
    width:100%;
    height:100%;
}
.ul-pic li a h4{
    text-align:center;
    font-size:16px;
    line-height:1.25em;
    font-weight:normal;
    margin-top:20px;
    margin-bottom:60px;
}
/* 王涛 **************************************************/
.main{
	overflow: hidden;
}
.wp{
	/* width:1198px; */
	margin:0 auto;
}
.cur{
	overflow: hidden;
}
.cur span{
	color:#646464;
	font-size:16px;
	letter-spacing: 1.5px;
	float: right;
	margin-top:40px;
}
/*网站地图*/
.m-webaddr{
	margin-top: 21px;
}
.name{
	font-size: 36px;
	padding-bottom: 8px;
}
.ul-addr{
	border-top: 1px solid #dcdcdc;
	padding-top: 19px;
	overflow: hidden;
}
.ul-addr:nth-of-type(1){
	margin-bottom: 46px;
}
.ul-addr:nth-of-type(2){
	margin-bottom: 52px;
}
.ul-addr:nth-of-type(3){
	margin-bottom: 78px;
}
.ul-addr:nth-of-type(4){
	margin-bottom: 69px;
}
.ul-addr:nth-of-type(5){
	margin-bottom: 23px;
}
.ul-addr:nth-of-type(6){
	margin-bottom: 75px;
}
.ul-addr:nth-of-type(7){
	margin-bottom: 72px;
}
.ul-addr .tit,.tit1{
	float: left;
	margin-bottom: 22px;
	width:149px;
	font-size: 18px;
	letter-spacing: 1.8px;
	color: #323232;
}
.ul-addr ul{
	overflow: hidden;
}
.ul-addr li{
	float: left;
	width:149px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.ul-addr a{
	color:#646464;
	font-size: 14px;
	letter-spacing: 1.8px;
}
.ul-addr a:hover{
	color:#ff5f01;
}
.m-ul{
	clear:both;
	overflow: hidden;
	margin-bottom: 15px;
}
.m-ul .tit1{
	margin-bottom: 0;
	font-size:16px;
}
.m-ul li{
	margin-bottom:9px;
}
/*新闻中心*/
.cur .tit{
	float: left;
	margin-top: 45px;
	padding-bottom: 10px;
	color:#323232;
	letter-spacing: 3.5px;
	background:url(../images/ct-bg.jpg) no-repeat 0 bottom;	
}
.cur .tit h4{
	font-size:36px;
	line-height: 1em;
	margin-bottom: 2px;
}
.cur .tit p{
	font-size:12px;
}
.m-tab{
	overflow: hidden;
	margin-bottom: 53px;
	margin-top: 54px;
}
.m-tab li{
	float: left;	
}
.m-tab a{
	display: block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding:0 20px;
	color:#646464;
	font-size: 16px;
	letter-spacing: 1.5px;
	font-weight: bold;
}
.m-tab .on a{
	background-color:#ff5f01;
	color:#fff;
}
.ul-pro{
	overflow: hidden;
	margin:0 -31px;
}
.ul-pro li{
	float: left;
	width:50%;
	margin-bottom: 43px;
}
.ul-pro a{
	display: block;
	margin:0 31px;
	padding-top: 55px;
}
.ul-pro .m-txt{
	padding-bottom: 26px;
	border-bottom: 1px solid #dedede;
	margin-bottom: 12px;
}
.ul-pro .m-txt .icon{
	float: left;
	margin-top: 15px;
	margin-left: -1px;
	width:68px;
	height:68px;
	border-radius:34px;
	background-color:#646464;
	background-repeat:no-repeat;
	background-position:center;
}
.ul-pro .on .icon,.ul-pro li:hover .icon{
	background-color: #ff5f01;
}
.ul-pro .m-txt .txt{
	overflow: hidden;
	padding-left: 24px;
}
.ul-pro .m-txt .name{
	color:#323232;
	padding-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.ul-pro .on .name,.ul-pro li:hover .name,.m-webaddr .name{
	color:#ff5f01;
}
.ul-pro .m-txt .desc{
	height: 42px;
	line-height: 21px;
	color:#646464;
	overflow: hidden;
}
.ul-pro .more{
	margin-left: 88px;
	padding-left:36px;
	background:url(../images/stick-gry.jpg) no-repeat 0 5px;
	color:#646464;
	font-size: 12.6px;
	font-weight: bold;
}
.ul-pro .on .more,.ul-pro li:hover .more{
	color:#ff5f01;
	background-image:url(../images/stick-org.jpg);
}
.dn{
	display: none;
}







