.wp{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 100px;
    background-color: #fff;
}
.logo{
    float: left;
    line-height: 100px;
}
.logo img{
    display: inline-block;
    vertical-align: middle;
}
.nav{
    float: right;
}
.nav li{
    float: left;
    position: relative;
}
.nav li > a{
    display: block;
    position: relative;
    line-height: 100px;
    margin: 0 30px;
    font-size: 16px;
    color: #1d1d1d;
}
.nav li:hover > a::before,
.nav .on > a::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 28px;
    height: 3px;
    background-color: #f0230e;
}
.nav .v1::after{
    content: "";
    width: 9px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/up.png) no-repeat center right;
}


.nav dl{
    display: none;
    position: absolute;
    top: 100px;
    left: -17px;
    background-color: #fff;
    z-index: 5;
    width: 142px;
}

.nav dd a{
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    color: #333333;
}

.nav dd a:hover{
    color: #f0230e;
}

/* .nav li:hover > dl{
    display: block;
} */
.nav .on .v1::after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
/* .nav .v1.open +dl{
    position: static;
    width: auto;
}
.nav .v1.open +dl dd a{
    line-height: 30px;
    font-size: 12px;
} */
/* 导航按钮样式 */
.navbar-btn {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    float: right;
    display: none;
    margin-top: 16px;
}

.icon-bar {
    display: block;
    width: 85%;
    height: 2px;
    margin: 8px auto;
    background-color: #ccc;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.act .icon-bar:nth-child(1) {
    position: absolute;
    transform: rotate(-90deg);
    top: -100%;
}

.act .icon-bar:nth-child(2),
.act .icon-bar:nth-child(3) {
    position: absolute;
    top: 8px;
}
.act .icon-bar:nth-child(2){
    transform: rotate(37deg);
}
.act .icon-bar:nth-child(3) {
    transform:  rotate(-37deg);
}

.banner{
    position: relative;
}
.banner .item a{
    display: block;
    height: 1070px;
    overflow: hidden;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .item img{
    display: block;
    width: 100%;
    height: 100%;
}
/* banner下的圆点 */
.banner .slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 170px;
}

.banner .slick-dots li {
    float: left;
    width: 65px;
    height: 3px;
    margin: 0 3px;
    background-color: #846d8c;
    cursor: pointer;
}

.banner .slick-dots button {
    display: none;
}

.banner .slick-dots li.slick-active {
    background-color: #fff;
}
.m-news .wp{
    position: relative;
}
.m-news .bd{
    position: absolute;
    background-color: #fff;
    height: 85px;
    top: -120px;
    left: 0;
    right: 0;
    padding: 0 50px;
    overflow: hidden;
}
.m-news li a{
    display: block;
    font-size: 16px;
    color: #000;
    line-height: 85px;
    padding-left: 50px;
    background: url(../images/ico1.jpg) no-repeat left center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.m-news li a:hover{
    color: #f0230e;
}

.m-news li .date{
    color: #8a8a8a;
}
.m-news .right{
    float: right;  
    margin-top: 15px; 
}
.m-news .right .pic{
    float: left;
    width: 58px;
    height: 55px;
    padding: 0 20px 0 50px;
    border-left: 1px solid #bdbdbd;
}
.m-news .right .txt{
    overflow: hidden;
    color: #5f5f5f;
    font-size: 14px;
    line-height: 1.71em;
}

.g-tit{
    padding: 70px 0;
    text-align: center;
}
.g-tit h3{
    font-size: 35px;
    color: #3b3b3b;
    font-weight: normal;
    margin-bottom: 25px;
}
.g-tit  span{
    display: block;
    color: #4e4e4e;
    font-size: 16px;
}
.row-a1{
    overflow: hidden;
}
.list1{
    overflow: hidden;
    padding-bottom: 68px;
    margin: 0 -20px;
}
.list1 li{
    float: left;
    width: 25%;
}
.list1 li .con{
    margin: 0 20px;
    box-shadow: 0 0 20px #f5f9ff;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}
.list1 li .pic{
    margin: 45px 0;
    height: 135px;
    line-height: 135px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.list1 li .pic img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.list1 li .pic:hover{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.list1 li .txt{
    color: #4e4e4e;
    font-size: 15px;
    line-height: 1.6em;
}
.list1 li .txt h4{
    color: #383838;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 30px;
}

.m-case{
    background-color: #f2f2f2;
    overflow: hidden;
}
.list2 {
    overflow: hidden;
    margin: 0 -10px;
}
.list2 li{
    float: left;
    width: 33.33%;
}
.list2 li .con1{
    margin: 15px 10px;
}
.list2 li .pic{
    position: relative;
    padding-top: 62%;
    height: 0;
    overflow: hidden;
}
.list2 li .pic img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.list2 li .pic:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.list2 li .txt{
    padding: 25px 30px;
    color: #777777;
    font-size: 14px;
    background-color: #fff;
}
.list2 li .txt h4 a{
    color:  #383838;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 12px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.list2 li .txt h4 a:hover{
    color: #f0230e;
}
.m-case .more{
    display: block;
    width: 195px;
    height: 57px;
    line-height: 57px;
    margin: 78px auto;
    color: #333333;
    font-size: 16px;
    text-align: center;
    border: 1px solid #bfbfbf;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.m-case .more:hover{
    background-color: #f0230e;
    color: #fff;
}
.m-chengxu{
    overflow: hidden;
    background-color: #000;
}
.m-chengxu .g-tit h3{
    color: #fff;
}
.m-chengxu .g-tit span{
    color: #b7b7b7;
}
.m-chengxu .slide{
    margin-top: 60px;
    position: relative;
}
.m-chengxu .item1{
    /* width: 695px; */
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    padding-top: 106px;
}

.m-chengxu .item1 .tit{
    color: #9c9c9c;
    font-size: 14px; 
    border-bottom: 1px solid #efefef;
    padding: 40px 33px;
}
.m-chengxu .item1 .tit h3{
    font-size: 24px;
    color: #333333;
    font-weight: normal;
    padding-left: 15px;
    border-left: 4px solid #ff9900;
    margin-bottom: 20px;
}
.m-chengxu .item1 .tit p{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.m-chengxu .item1 .con{
    background-color: #fff;
    /* position: relative; */
}
.m-chengxu .item1.slick-center {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    margin-top: -23px;
    z-index: 25;
}
.m-chengxu .item1 .con::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.m-chengxu .item1.slick-center .con::after{
    /* opacity: 0; */
    display: none;
}

/* 插件箭头样式 */
.m-chengxu .slide .slick-arrow {
    font-size: 0;
    text-indent: 9999px;
    border: none;
    z-index: 5;
    cursor: pointer;
    outline: 0;
}

.m-chengxu .slide .slick-prev,
.m-chengxu .slide .slick-next {
    width: 42px;
    height: 42px;
    border: 1px solid #a4a5a8;
    position: absolute;
    top: -65px;
    z-index: 2;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: auto 27px;
    background-size: auto 27px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.m-chengxu .slide .slick-prev {
    left: 47.5%;
    background-image: url('../images/btn1.png');
}

.m-chengxu .slide .slick-next {
    right: 47.5%;
    background-image: url('../images/btn2.png');

}
.m-chengxu .slide .slick-prev:hover,
.m-chengxu .slide .slick-next:hover{
    background-color: #f0230e;
}


.list3{
    padding: 0 35px 45px;
}
.list3 li{
    overflow: hidden;
    margin-top: 35px;
}
.list3 .pic{
    float: left;
    width: 58px;
    height: 58px;
    line-height: 58px;
    margin-right: 12px;
}
.list3 .pic img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.list3 .txt{
    overflow: hidden;
    color: #9c9c9c;
    font-size: 14px;
}

.list3 .txt h4 a{
    display: block;
    font-size: 18px;
    color: #333333;
    font-weight: normal;
    padding-top: 8px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.list3 .txt h4 a:hover{
    color: #f0230e;
}


.m-see{
    background-color: #f2f2f2;
    padding-bottom: 88px;
}
.ul-tab{
    overflow: hidden;
    text-align: center;
    margin-bottom: 60px;
}

.ul-tab li{
    display: inline-block;
    margin: 0 40px;
}
.ul-tab li a{
    display: block;
    color: #878787;
    font-size: 16px;
    padding-bottom: 18px;
    border-bottom: 2px  solid transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.ul-tab  a:hover,
.ul-tab .on a{
    border-bottom: 2px  solid #333;
    color: #333;
}
.tabbox{
    overflow: hidden;
}
.tab-b1.hide{
    display: none;
}
.m-list4 {
    overflow: hidden;
    margin: 0 -12px;
}
.m-list4 li{
    float: left;
    width: 33.33%;
}
.m-list4 .con2{
    margin: 0 12px;
}
.m-list4 .con2 .pic{
    position: relative;
    height: 0;
    padding-top: 63%;
    overflow: hidden;
}
.m-list4 .con2 .pic img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.m-list4 .con2 .pic:hover img{
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
}
.m-list4 .con2 .txt{
    color: #777777;
    font-size: 14px;
    line-height: 24px;
    padding: 30px;
    background-color: #fff;
    overflow: hidden;
}
.m-list4 .con2 .txt h5 a{
    display: block;
    color: #242424;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 25px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.m-list4 .con2 .txt h5 a:hover{
    color: #f0230e;
}
.m-list4 .con2 .txt .open{
    float: right;
    width: 84px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    background-color: #e81320;
    border-radius: 28px;
    margin-top: 28px;
}

.list5 {
    overflow: hidden;
    margin-bottom: 76px;
}
.list5 li{
    float: left;
    width: 25%;
    text-align: center;
    font-size: 18px;
    color: #4e4e4e;
}
.list5 li h3{
    font-weight: normal;
    margin-bottom: 35px;
}
.list5 li span{
    font-size: 85px;
    color: #2c2c2c;
    display: inline-block;
    vertical-align: middle;
}
.list5 li em{
    font-size: 65px;
    display: inline-block;
    vertical-align: middle;
}
.m-adv .pic1{
    width: 1440px;
    margin: 0 auto;
    padding: 93px 0;
    background: url(../images/adv-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}
.m-adv .pic1 h3{
    font-size: 26px;
    color: #fff;
    font-weight: normal;
}
.m-adv .pic1 p{
    color: #f1f1f1;
    font-size: 14px;
    margin: 28px 0 38px;
}
.m-adv .pic1 .a1{
    display: inline-block;
    width: 116px;
    height: 43px;
    line-height: 41px;
    border: 1px solid #92908e;
    text-align: center;
    color: #c3c3c3;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.m-adv .pic1 .a1:hover{
    background-color: #e81320;
    border-color: #e81320;
    color: #fff;
}
.fd-top{
    background-color: #f6f6f6;
    padding: 58px 0 50px;
}

.fd-top ul{
    text-align: center;
}
.fd-top li{
    display: inline-block;
    font-size: 12px;
    color: #505050;
    line-height: 24px;
}
.fd-top .li1,
.fd-top .li3{
    width: 300px;
    text-align: left;
}
.fd-top .li1{
    float: left;
}

.fd-top .li3{
    float: right;
}
.fd-top .pic{
    display: inline-block;
    margin: 0 12px;
    overflow: hidden;
}
/* .fd-top .pic img{
    display: block;
} */
.fd-top .pic span{
    display: block;
    font-size: 12px;
    color: #333;
    margin-top: 8px;
}

.fd-top li h4{
    font-size: 12px;
    font-weight: normal;
    color: #383838;
    padding-bottom: 15px;
    border-bottom: 2px solid #e3e3e3;
    margin-bottom: 18px;
}
.fd-top .li1 span{
    float: left;
    margin-top: 25px;
    width: 118px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #e7e7e7;
    margin-right: 14px;
}
.fd-top .li1 span em{
    display: inline-block;
    padding-left: 18px;
    background-position: left center;
    background-repeat: no-repeat;
}
.fd-top .li1 .s1 em{
    background-image: url(../images/qq.jpg);
}
.fd-top .li1 .s2 em{
    background-image: url(../images/ke.png);
}
.fd-top .link a{
    font-size: 14px;
    line-height: 2.57em;
    color: #4e4e4e;
    margin-right: 25px;
}
.fd-bot{
    padding: 54px 0;
    background-color: #222222;
}
.fd-bot .link{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #7a7a7a;
}
.fd-bot .link a{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
    padding:0 22px;
    border-right: 1px solid #7a7a7a;
}
.fd-bot .link a:last-child{
    border-right: none;
}
.fd-bot .link span{
    float: right;
    color: #7a7a7a;
    font-size: 14px;
    line-height: 24px;
    
}
.fd-bot .copy{
    font-size: 14px;
    color: #7a7a7a;
    line-height: 24px;
}
.fd-bot .copy em{
    display: inline-block;
    /* vertical-align: middle; */
    width: 50px;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 15px;
}
.fd-bot .copy span{
    float: right;
}




/* 侧边 */
.slideRight{
    position: fixed;
    bottom: 30%;
    right: 20px;
    display: none;
}

.slideRight  a{
    display: block; 
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 10px;
}
.slideRight  a span{
    display: block;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 40px;
    line-height: 40px;
    right: 40px;
    top: 0;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background-color: #000;
}
.slideRight  a:hover span{
    width: 80px;
    visibility: visible;
}
.slideRight  .i1{
    background-image: url(../images/ke1.png);
}
.slideRight .i2{
    background-image: url(../images/qq.png);
}
.slideRight .i3{
    background-image: url(../images/tel.png);
}
.slideRight .i4{
    background-image: url(../images/ma.png);
}
.slideRight  .i5{
    background-image: url(../images/top.png);
}











